<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
#Checks to see if the user is attempting to access a valid file,
#such as an image or css document, if this isn't true it sends the
#request to index.php


RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://www.demispaargaren.nl/$1 [L,R=301]

RewriteCond %{HTTP_HOST} !www.demispaargaren.nl$ [NC]
RewriteRule ^(.*)$ https://www.demispaargaren.nl/$1 [L,R=301]

Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains" env=HTTPS

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#This last condition enables access to the images and css folders, and the robots.txt file
RewriteCond $1 !^(index\.php|images|robots\.txt|css|js)
RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

php_flag magic_quotes_gpc Off
php_value session.gc_maxlifetime 3600
php_value post_max_size "40M"
php_value upload_max_filesize "40M"
