on: push

jobs:
  phpstan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: php-actions/composer@v6
      with:
        php_version: "8.2"
    - name: PHPStan Static Analysis
      uses: php-actions/phpstan@v3
      with:
        configuration: phpstan.neon
